.flex-box-centered-content {
  /* Flexbox!! https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  flex: auto;
  justify-content: center;
}

.create-class-form {
  margin-top: 25px;
  height: 50%;
}

.button-container-create-class {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.form-field-container {
  margin-bottom: 10px;
}
