.content {
  max-height: 100vh;
}

.main-content {
  display: flex;
  flex: 1 1 0%;
  overflow-x: auto;
  position: relative;
  border-top: none;
  flex-direction: column;
  padding-top: 8px;
  /* full content height - header height */
  height: calc(100vh - 60px) !important;
  overflow-y: auto;
}
