.flex-box-centered-content-class-listing {
  /* Flexbox!! https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container-class-listing {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.flex-row-fill-class-listing {
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  justify-content: center;
  width: 100% !important;
  margin: 5px !important;
}

.class-listing-segments {
  min-width: 20%;
  max-width: 100%;
}
