.flex-box-centered-content-login-page {
  /* Flexbox!! https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  flex: auto;
  justify-content: center;
}

.login-form {
  margin-top: 10px;
}

.button-container-login-page {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
